* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-bg-color: #FF5349;
    --text-color: #FAFAFA;
    --black-para-text: #1A293C;
    --black-heading-text: #282722;
    --section-bg-col: #F2F2F2;


}

main {
    width: 100%;
    height: 100%;
    background-color: var(--section-bg-col);
}

.home {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;


}

.home .header-logo {
    width: 240px;

}

.home-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1.8rem;
    padding: 0 20px;

    padding-bottom: 7.8rem;
}

.home-container .left,
.home-container .right {
    width: 50%;
    /* border: 2px solid green; */
}

.home-container .left h1 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -3px;

}



.home-container .left p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}

.home-container .left button {
    background-color: var(--text-color);
    color: var(--primary-bg-color);
    border: none;
    padding: 12px 35px;
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 3.06px 3.06px 6.12px 0px #0000001A inset;

}

.home-container .right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: auto;

    position: relative;
    overflow: visible;
}

.home-container .right img {
    width: 67%;
    top: -4%;
    left: 25%;
    position: absolute;
}

.home-container .right .box-one,
.home-container .right .box-two {
    position: absolute;
    background-color: #FFFFFF;
    padding: 23px 27px;
    border-radius: 15px;
    color: var(--black-para-text);
    font-weight: 600;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 1%;
    text-transform: capitalize;
    box-shadow: 18.67px 20px 29.33px 0px #0000001A;


}

.home-container .right .box-one {

    top: 5%;
    z-index: 1;
    left: 10%;
}

.home-container .right .box-two {
    bottom: -34%;
    right: 7%;
}


.service {
    width: 100%;

    margin-top: 15rem;
    padding-bottom: 2rem;
    background-color: var(--section-bg-col);
}

.service-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


    background-color: var(--section-bg-col);

}

.section-heading,
.service-content p {
    text-align: center;
}

.section-heading {
    color: var(--black-heading-text);
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -3px;
    margin-top: 2rem;
}

.service-content p {
    color: var(--black-para-text);
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-top: .9rem;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 3rem;
    /* border: 2px solid red; */
    background-color: var(--section-bg-col);

}

.services-container .service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 31.5%;
    min-width: 25%;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    background-color: var(--section-bg-col);
    box-shadow:
        -4px -4px 10px rgba(255, 255, 255, 0.7),
        /* whitish shadow on top-left */
        4px 4px 10px rgba(0, 0, 0, 0.1);
    /* blackish shadow on bottom-right */
    min-height: 172px;
}

.service-card h3 {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--black-para-text);

}

.service-card p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--black-para-text);
    margin: 0 auto;
    margin-top: 10px;
}

.about {
    width: 100%;
    padding: 1rem 0;
}

.about-content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.about-content .about-right {
    width: 45%;

}

.about-content .about-left {
    width: 49%;

}

.about-content .about-right {
    padding-right: 3rem;

}

.about-right .section-heading {
    text-align: left;
}

.about-content .about-right p {
    color: #525252;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: 1.5rem;
}

.about-content .about-left img {
    width: 100%;
}

.about-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;


}

.about-card-container .about-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 1rem;
    margin-top: 1.5rem;
    background-color: var(--section-bg-col);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.7),
        /* whitish shadow on top-left */
        4px 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 125px;
}

.about-card-container .about-card p {
    text-align: left;
    margin-top: 1rem;
}


/* HOWITWORKS */
.howitworks {
    width: 100%;
    padding: 1rem 0;
    /* border: 2px solid green; */
}

.howitworks-content {
    width: 100%;
    max-width: 1200px;
    /* border: 2px solid red; */
    margin: 0 auto;


}

.howitworks-content p {
    color: var(--black-para-text);
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-top: .9rem;
    margin-bottom: 2rem;
    text-align: center;
}

.howitworks-content .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.howitworks-content .container .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70%;
    margin-bottom: 1rem;
}

.howitworks-content .container .numbers span {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary-bg-color);
    transition: color 0.3s ease;
}



.howitworks-content .container .numbers .numbers-line {
    height: 2px;
    background-color: #8F8F8F;
    width: 30%;
}

.howitworks-content .container .work-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.howitworks-content .container .work-cards .work-card {
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 30%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 1rem;
    margin-top: 0.5rem;
    background-color: var(--section-bg-col);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.7),
        /* whitish shadow on top-left */
        4px 4px 10px rgba(0, 0, 0, 0.1);

}

.howitworks-content .container .work-cards .work-card h3 {
    font-weight: 600;
    font-size: 23px;
}

.howitworks-content .container .work-cards .work-card p {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}


.donate {
    width: 100%;
    padding: 1rem 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 3.5rem;
}

.donate-content {
    width: 100%;
    max-width: 1250px;
    border-radius: 25px;
    background-image: url("assets/images/Section1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 5.2rem;


}

.donate-info {
    width: 70%;
}


.donate-info h3 {
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 70px;
    margin-bottom: 1rem;

}

.donate-info p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;

}

.donate-info button {
    background-color: #F2F2F2;
    color: var(--primary-bg-color);
    border: none;
    padding: 13px 34px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.5px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 3.06px 3.06px 6.12px 0px #0000001A inset;

}

/* HOWITWORKS */

/* TESTIMONIALS */

.testimonials {
    width: 100%;
    margin-bottom: 5rem;
    /* border: 2px solid red; */
}

.testimonials-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 4rem;
}

.test-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30.5%;
    min-width: 250px;
    border-radius: 20px;
    text-align: left;
    padding: 1rem 1.1rem;

    background-color: var(--section-bg-col);
    box-shadow:
        -4px -4px 8px rgba(255, 255, 255, 0.7),
        /* whitish shadow on top-left */
        4px 4px 5px rgba(0, 0, 0, 0.058);
}

.test-card .stars {
    display: flex;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 1.2rem;
}

.test-card .test-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.test-card .test-text {
    color: #212121;
    font-size: 19px;
    font-weight: 500;

}

.test-card .test-author {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}

.author-info p {
    color: #828487;
}


.testimonials-content button {
    background-color: rgba(242, 242, 242, 1);
    ;
    color: var(--primary-bg-color);
    border: none;
    padding: 20px 70px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: -0.5px;
    margin-top: 4rem;
    box-shadow:
        -4px -4px 8px rgba(255, 255, 255, 0.7),
        /* whitish shadow on top-left */
        4px 4px 5px rgba(0, 0, 0, 0.058);
}


footer {
    width: 100%;
}

.footer-content {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

    background-image: url("assets/images/Footer.png");
    background-size: cover;
    background-position: 100% center;

    background-repeat: no-repeat;
    height: 95vh;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 5.2rem;
}

.footer-info {
    width: 70%;
}


.footer-info h3 {
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 70px;
    margin-bottom: 1rem;

}

.footer-info p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    width: 50%;
}

.footer-info .playstore {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}

.footer-info .playstore img {
    width: 180px;
}






/* TESTIMONIALS */

@media (max-width: 991px) {

    .home-container {
        flex-direction: column;
    }

    .home-container .right {
        margin-top: 4rem;
        width: 100%;
        height: 92vh;
    }

    .home-container .left {
        width: 75%;
    }

    .home-container .left h1 {
        font-size: 65px;
        line-height: 63px;
    }

    .home-container .right img {
        width: 54%;

    }

    .home-container .right .box-two {
        bottom: -34%;
        right: 23%;
    }

    .service {
        margin-top: 22rem;
    }

    .services-container .service-card {

        width: 45%;

    }

    .about-content {
        flex-direction: column;
    }


    .about-content .about-right {
        width: 100%;
        padding: 0 1.5rem;
    }

    .about-content .about-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-content .about-left img {
        width: 80%;
        /* margin: 0 auto; */
    }

    .about-right .section-heading {
        margin: 0;
    }

    .howitworks-content p {

        margin: 0 1rem;
    }

    .donate-info button {
        font-size: 14px;
    }

    .donate-info p {


        font-size: 13px;
    }

    .donate-info h3 {
        font-size: 40px;

        line-height: 45px;

    }



    .footer-info p {


        font-size: 13px;
    }

    .footer-info h3 {
        font-size: 40px;

        line-height: 45px;

    }

    footer {

        padding: 0 20px;
    }

    .footer-content {
        background-position: 41% center;
    }


}

@media (max-width:768px) {

    .home-container .left h1 {
        font-size: 53px;

    }

    .home-container .right .box-one,
    .home-container .right .box-two {
        padding: 16px 21px;
        font-size: 13px;
    }

    .home-container .right .box-two {
        bottom: -22%;
        right: 20%;
    }

    .home-container .right img {

        left: 27%;

    }

    .home-container .right .box-one {
        top: 2%;
        z-index: 1;
        left: 18%;
    }

    .home-container .right {

        height: 73vh;
    }

    .service {

        margin-top: 19rem;

    }

    .section-heading {

        font-size: 40px;

        margin-top: 2rem;
        margin: 2rem 1rem 0 1rem;
    }

    .howitworks-content .container {
        margin-top: 2rem;
        padding: 0 11px;
        flex-direction: row;
    }

    .howitworks-content .container .numbers {
        flex-direction: column;
    }

    .howitworks-content .container .work-cards {
        flex-direction: column;
    }

    .howitworks-content .container .numbers {

        gap: 4.5rem;
        width: 52%;
        margin-bottom: 0;

    }

    .howitworks-content .container .numbers .numbers-line {


        width: 41%;
        transform: rotate(90deg);
    }

    .howitworks-content .container .work-cards .work-card {

        width: 90%;
    }

    .howitworks-content .container .numbers span {
        margin-top: 1rem;
    }

    .donate-content {
        padding-top: 3rem;
        padding-left: 2.2rem;
    }

    .test-card {
        width: 46%;
    }

    .footer-content {
        padding-top: 3rem;
        padding-left: 2.2rem;
    }

    .footer-content {
        background-position: 33% center;
    }
}


@media (max-width: 576px) {

    .home-container .left h1 {
        font-size: 56px;
        line-height: 59px;
    }

    .home-container .right {
        height: 48vh;
    }

    .home-container .right .box-two {
        bottom: -22%;
        right: 12%;
    }

    .home-container .right .box-one {
        top: 6%;

        left: 11%;
    }

    .home-container .left {
        width: 100%;
    }

    .services-container .service-card {

        width: 80%;

    }

    .service {
        margin-top: 12rem;
    }

    .section-heading {

        font-size: 30px;
        line-height: 38px;
        letter-spacing: 1px;

    }

    .service-content p {

        font-size: 15px;

    }

    .howitworks-content p {
        line-height: 24px;
        margin: 0 1rem;
        font-size: 15px;
    }

    .donate-info {
        width: 93%;
    }

    .donate-info h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .test-card {
        width: 100%;
    }

    .test-card .test-text {

        font-size: 15px;

    }

    .author-info p {
        color: #828487;
        font-size: 13px;
    }


    .footer-info {
        width: 93%;
    }

    .footer-info h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .footer-content {
        background-position: 28% center;
    }
}

@media(max-width:480px) {

    .home-header {

        padding: 3px 0;
    }

    .home .header-logo {
        width: 170px;
    }

    .home-container .left h1 {
        font-size: 47px;
        line-height: 48px;
    }

    .home-container .left p {

        font-weight: 400;
        font-size: 13px;
        line-height: 20px;

    }

    .home-container .left button {
        font-size: 12px;
    }

    .home-container .right img {
        left: 13%;
        width: 80%;
    }

    .home-container .right .box-one,
    .home-container .right .box-two {
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 9px 13px;
        font-size: 12px;
    }

    .home-container .right .box-one {
        left: 0%;
    }

    .home-container .right .box-two {
        bottom: -22%;
        right: -1%;
    }

    .service {

        margin-top: 19rem;

    }

    .service-card p {
        font-size: 12px;

        line-height: 17px;

    }

    .service-card p {
        font-size: 12px;

        line-height: 17px;

    }

    .about-card-container .about-card {
        align-items: center;

    }

    .about-card-container .about-card p {
        text-align: center;

    }

    .howitworks-content .container .work-cards .work-card h3 {
        font-size: 21px;
    }

    .howitworks-content .container .work-cards .work-card p {
        font-size: 13px;
        line-height: 20px;
    }

    .howitworks-content .container .numbers {
        width: 35%;
    }

    .howitworks-content .container .numbers .numbers-line {
        width: 178%;

    }

    .donate-content {
        padding-top: 1rem;
        padding-left: 1.2rem;
    }

    .donate-info {
        width: 100%;
    }





    .footer-content {
        padding-top: 1rem;
        padding-left: 1.2rem;
    }

    .footer-info {
        width: 100%;
        margin-top: 3rem;
    }


    .footer-info .playstore img {
        width: 159px;
    }

    .footer-info .playstore {
        flex-direction: column;
    }

    .footer-content {

        height: 83vh;

    }

    .footer-info p {

        width: 90%;
    }
}

@media (max-width:390px) {
    .home-container .left h1 {
        font-size: 38px;


    }

    .service {

        margin-top: 10rem;

    }

    .donate-content {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .donate-info h3 {
        font-size: 25px;
        line-height: 26px;
        letter-spacing: 0.5px;
    }

    .donate-info button {
        font-size: 12px;
        padding: 11px 25px;
        margin-top: 8px;
    }








    .footer-content {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .footer-info h3 {
        font-size: 25px;
        line-height: 26px;
        letter-spacing: 0.5px;
    }

    .footer-info button {
        font-size: 12px;
        padding: 11px 25px;
        margin-top: 8px;
    }
}